* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  background-color: #808080;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  display: inline-block;
  font-size: 1.6rem;
}

h2 {
  margin-block-start: 8px;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li:not(:first-of-type) {
  border-top: 2px solid black;
  padding-block-start: 5px;
}

svg {
  object-fit: cover;
}

article {
  margin: 10px auto;
  padding: 10px;
  width: 40%;
  min-width: 320px;
  max-width: 600px;
}

.header {
  display: grid;
  grid-template-areas:
    "picture text text"
    "picture icons icons";
  column-gap: 8px;
  row-gap: 4px;
  justify-content: start;
  align-items: center;
}

.header--image-container {
  width: 75px;
  height: 75px;
  grid-area: picture;
}

.header--image-container img {
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.header--profile-desc {
  display: flex;
  flex-direction: column;
  grid-area: text;
  align-items: flex-start;
  justify-content: center;
}

.header--profile-desc>p {
  margin-block-start: 4px;
}

.header--profile-cont {
  display: flex;
  grid-area: icons;
  justify-content: flex-start;
  align-items: center;
}

.header--profile-cont a {
  width: 30px;
  height: 30px;
  margin-inline-end: 16px;
  color: black;
}

article > p {
  margin-block-start: 8px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.info-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  margin: 10px 15px 10px 15px;
  padding: 4px;
}

.info-container--icon {
  width: 60px;
  height: 60px;
  margin-block-end: 5px;
}

